#ctrl {
	width: 75%;
	font-family: Helvetica;
	border: 2px solid black;
	background-color: white;
	margin: auto;
	margin-top: -30px;
	margin-bottom: 30px;
	padding: 35px 5px 15px 5px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 6px 6px #999999;
}

#info {
	display: none;
	border: 1px solid black;
}

#course_name {
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: 200;	
}

#warning {
	color:#ff0000;
}

#ctrl td > div {
	border-radius: 3px;
	width: 80px;
	height: 25px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.overall { background-color: #ffcf0d; }
.overall:hover { background-color: #ffeda4; }
.overall_pressed { background-color: #c9a40c; border: 1px solid black; -webkit-box-shadow: 1px 1px 1px 1px #999999;}
.overall_pressed:hover { background-color:#bbb7a8; }
		
.style { background-color: #03dada; }
.style:hover { background-color: #7fcaca; }
.style_pressed { background-color: #03afaf; border: 1px solid black; -webkit-box-shadow: 1px 1px 1px 1px #999999;}
.style_pressed:hover { background-color:#347878; }

.loading { background-color: #ba0eef; }
.loading:hover { background-color: #cb1dff; }
.loading_pressed { background-color: #740c93; border: 1px solid black; -webkit-box-shadow: 1px 1px 1px 1px #999999;}
.loading_pressed:hover { background-color:#7b5089; }

.difficulty { background-color: #ef4f4f; }
.difficulty:hover { background-color: #ff6969; }
.difficulty_pressed { background-color: #7e1414; border: 1px solid black; -webkit-box-shadow: 1px 1px 1px 1px #999999;}
.difficulty_pressed:hover { background-color:#7b4d4d; }

.title {
	height: 10px;
}

.hideextra { 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow:ellipsis; 
}
	
#opinion {
	border-radius: 5px;
	border: 1px solid black;
	margin: 10px 20px 20px 10px;
	width: 350px;
}

#result {
	width: 450px;
	word-wrap: break-word;
	overflow-y: auto;	
}
	
.footer {
	display: inline-block;
	float: right;
}

.clearfix::after
{
	clear: both;
	visibility: hidden;
	display: block;
	content: '.';
	width: 100%;
}
	
#my_submit {
	margin-left:870px;
}
	
#expand_collapse {
	border-radius: 100%;
	border: 2px black solid;
	width:30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size:1.2em;
/* 	margin-left: 970px; */
}